/************************************

DEFAULT AND UTILITY STYLES

************************************/

body {
	background: black;
	font-family: Arial, sans-serif;
} 

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Cutive', serif;
	color: #ffcc00;
}

.roundContainer {
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	width: auto;
}

.insetShadow {
	box-shadow: 2px 2px 4px black inset;
}

.darkBorder {
	border: 1px solid #15670c;
}

.positionRelative {
	position: relative;
}

.underlineGold {
	border-bottom: 1px solid #ffcc00;
}

/************************************

LAYOUT

************************************/


#appPreView, .contentHolder {
	width: 957px;
	margin: 0px auto;
}

#appView {
	width: 100%;
	background: url(img/lizardskin.png) center top no-repeat;
}

/************************************

HEADER STYLES

************************************/

#header {
	position: relative;
}

#header .logo {
	position: absolute;
	top: 0px;
	left: 0px;
}

#navbar {
	border-top: 2px solid #c5bd00;
	border-bottom: 2px solid #c5bd00;
	height: 40px;
	background: #29ba18; /* Old browsers */
	background: -moz-linear-gradient(top,  #29ba18 0%, #117a05 50%, #29ba18 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29ba18), color-stop(50%,#117a05), color-stop(100%,#29ba18)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ba18', endColorstr='#29ba18',GradientType=0 ); /* IE6-9 */

}

#mainNav {
	font-family: 'Cutive', serif;
	
	display: table;
	width: 600px;
	float: left;
}

#mainNav a {
	display: table-cell;
	text-decoration: none;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 1px black;
	width: 25%;
	text-align: center;
}

#headerSearch {
	width: 300px;
	text-align: right;
	float: right;
	padding-top: 6px;
}

#headerSearch .productSearchKeyword {
	color: white;
	border: none;
	
	text-indent: 10px;
	
	width: 260px;
	height: 26px;

	background: #21a513; /* Old browsers */
	background: -moz-linear-gradient(top,  #21a513 0%, #12460b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21a513), color-stop(100%,#12460b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #21a513 0%,#12460b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #21a513 0%,#12460b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #21a513 0%,#12460b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #21a513 0%,#12460b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21a513', endColorstr='#12460b',GradientType=0 ); /* IE6-9 */
}

#headerSearch .search {
	background: url(img/searchicon.png) center center no-repeat;
	background-size: contain;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	border: none;
	height: 26px;
	width: 26px;
	position: absolute;
	right: 4px;
	top: 4px;
}

#globalNav {
	margin-bottom: 20px;
	color: #bab500;
}

#globalNav a {
	color: #bab500;
	text-decoration: none;
}

#minicart {
	margin-left: 20px;
}

#globalNav #minicart img {
	padding-right: 10px;
	margin-right: 8px;
	border-right: 1px dotted #bab500;
}

#homepageBanner{ background: black;}

/************************************

BODY STYLES

************************************/
#mainContent {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 60px, #1e970f 210px, #000000 360px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60px,#000000), color-stop(210px,#1e970f), color-stop(360px,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 60px,#1e970f 210px,#000000 360px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 60px,#1e970f 210px,#000000 360px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 60px,#1e970f 210px,#000000 360px); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 60px,#1e970f 210px,#000000 360px); /* W3C */

}

#mainContentPadding {
	padding: 10px 20px;
}

/************************************

FOOTER STYLES

************************************/
#footerBanner {
	width: 100%;
	display: table;
	border-spacing: 30px;
	height: 106px;
	background: url(img/footerbg.jpg) top left repeat-x;
	color: #beb800;
}

#footerBanner > div{
	display: table-cell;
	border-right: 1px dashed #beb800; 
	padding-right: 30px;
	vertical-align: middle;
}

#footerBanner > div:last-of-type {
	border: none;
}

#footerBanner #weShipEverywhere {
	line-height: 37px;
	width: 30%;
}


div#footerNewsletterForm {
	width: 55%;
}

.goldBorder {
	border: 1px solid #4c4a01;
}

#footerNewsletterForm input {
	position: relative;
	
	width: 150px;
	height: 24px;
	
	color: #beb800;
	
	
	border: none;
	background: #10410a; /* Old browsers */
	background: -moz-linear-gradient(top,  #10410a 30%, #0b2607 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#10410a), color-stop(100%,#0b2607)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #10410a 30%,#0b2607 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #10410a 30%,#0b2607 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #10410a 30%,#0b2607 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #10410a 30%,#0b2607 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10410a', endColorstr='#0b2607',GradientType=0 ); /* IE6-9 */

}

#footerNewsletterForm input[type="submit"] {
	width: 100px;
	background: #138106; /* Old browsers */
	background: -moz-linear-gradient(top,  #138106 30%, #12420a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#138106), color-stop(100%,#12420a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #138106 30%,#12420a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #138106 30%,#12420a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #138106 30%,#12420a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #138106 30%,#12420a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#138106', endColorstr='#12420a',GradientType=0 ); /* IE6-9 */

}
#footerSocialLinks{ width: 15%; }

#footerLinks {
	color: #338708;
	text-align: center;
}

#footerLinks a{
	color: #338708;
	text-decoration: none;
}

#footerLinks div {
	padding: 8px 0px;
}



/*****************************

JQUERYUI STYLE FIXES

*****************************/

.ui-accordion .ui-accordion-content {
	display: none;
}

.ui-accordion .ui-accordion-header .ui-icon {
    display: inline-block;
}
