/************************************

DEFAULT STYLES

************************************/

body {
	background: black;
	font-family: Arial, sans-serif;
} 

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Cutive', serif;
	color: #ffcc00;
}

/************************************

LAYOUT

************************************/


#appPreView, .contentHolder {
	width: 957px;
	margin: 0px auto;
}

#appView {
	width: 100%;
	background: url(img/lizardskin.png) center top no-repeat;
}

/************************************

PERSISTENT CONTENT STYLES

************************************/

#header {
	position: relative;
}

#header .logo {
	position: absolute;
	top: 0px;
	left: 0px;
}

#navbar {
	border-top: 2px solid #c5bd00;
	border-bottom: 2px solid #c5bd00;
	height: 40px;
	background: #29ba18; /* Old browsers */
	background: -moz-linear-gradient(top,  #29ba18 0%, #117a05 50%, #29ba18 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29ba18), color-stop(50%,#117a05), color-stop(100%,#29ba18)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #29ba18 0%,#117a05 50%,#29ba18 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ba18', endColorstr='#29ba18',GradientType=0 ); /* IE6-9 */

}

#mainNav {
	font-family: 'Cutive', serif;
	
	display: table;
	width: 600px;
}

#mainNav a {
	display: table-cell;
	text-decoration: none;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 1px black;
	width: 25%;
	text-align: center;
}

#globalNav {
	margin-bottom: 20px;
	color: #bab500;
}

#globalNav a {
	color: #bab500;
	text-decoration: none;
}

#minicart {
	margin-left: 20px;
}

#globalNav #minicart img {
	padding-right: 10px;
	margin-right: 8px;
	border-right: 1px dotted #bab500;
}

#homepageBanner{ background: black;}



#mainContent {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 60px, #1e970f 210px, #000000 360px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60px,#000000), color-stop(210px,#1e970f), color-stop(360px,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 60px,#1e970f 210px,#000000 360px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 60px,#1e970f 210px,#000000 360px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 60px,#1e970f 210px,#000000 360px); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 60px,#1e970f 210px,#000000 360px); /* W3C */

}

.ui-accordion .ui-accordion-content {
	display: none;
}

.ui-accordion .ui-accordion-header .ui-icon {
    display: inline-block;
}